<!-- ------Navbar---- -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse justify-content-between">
        <ul class="navbar-nav mr-auto">
            <!-- ------for task 1---- -->
            <li routerLinkActive="active"><a routerLink="/task-1"
                    class="nav-item nav-link task">Task
                    1</a>
            </li>

            <!-- ------for task 2--- -->
            <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/task-2"
                    class="nav-item nav-link task">Task 3</a>
            </li>
        </ul>
    </div>
</nav>