/* ---for active status------ */
.active {
    background-color: green;
}

/* ---for inactive status------ */
.inactive {
    background-color: red;
}

/* --------------table header--------- */
.tableHeader{
    cursor: pointer;
}

.addressHead{
    max-width: 950px;
    overflow-x:auto;
}


/* ----------for address data------ */
 .add {
       width:200px;
      display:block;
   height: 6vh;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

     } 

.showAdd {
    white-space: break-spaces;
    display:block;
    width:200px;
    overflow-y: hidden;
    word-wrap:break-word;
    height: auto;
  
}
