/* ---for active status------ */
.active {
    background-color: green;
}

/* ---for inactive status------ */
.inactive {
    background-color: red;
}

.tableHeader{
    cursor: pointer;

}

/* .noData{ */
    /* margin: 50px; */
/* } */

.addressHead{
    max-width: 950px;
    overflow-x:auto;
}

/* .address{ */
    /* text-overflow: ellipsis;
    overflow: hidden; */
/* } */

.add {
    /* font-size: 16px;
    line-height: 16px;
    height: 32px;
    overflow: hidden; */

    display:block;
    width:200px;
    /* height: 200px; */
    overflow-y: hidden;
    word-wrap:break-word;

    /* white-space: nowrap; 
    width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis;  */
    /* border: 1px solid #000000; */
}
.show {
    overflow: visible;
    height: auto;
}